@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
============================
google font-customization 
============================
*/

@layer utilities {
  .m-serif {
    font-family: 'Merriweather', serif;
  }

  .nunito-sans {
    font-family: 'Nunito Sans', sans-serif;
  }

  .montserrat {
    font-family: 'Montserrat', sans-serif;
  }
}

/* 
================================
tailwind color configurations
================================
*/
.bg--primary {
  @apply bg-gray-200;
}

.bg--default {
  @apply bg-white;
}

.border--primary {
  @apply border-black;
}

.text--colors_primary {
  @apply text-black;
}

.text--colors_secondary {
  @apply text-gray-600;
}

.text--colors_white {
  @apply text-white;
}

.nav--slide-in {
  transform: translateX(0);
  transition: transform 0.5s ease;
}

.nav--slide-out {
  transform: translateX(-100%);
  transition: transform 0.5s ease;
}

.background-with-overlay {
  background-color: rgba(0, 0, 0, 0.85);
  background-size: cover;
  background-blend-mode: overlay;
  background-image: url('../assets/images/background.jpg');
}
